@{
    ViewData["Title"] = "Home Page";
}

@model List<TaskEntry>

<div class="text-center">
    <h1 class="display-4">Time Management Matrix</h1>
    <p>Welcome to our Quadrant view.</p>
</div>

<div class="quad-container">
    <div class="row">
        <div class="col">
            <h3>Quadrant 1</h3>
            <h5>Urgent and Important</h5>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td><strong>Tasks</strong></td>
                        <tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            if (x.Quadrant == 1)
                            {
                                <tr>
                                    <td>@x.Task</td>
                                    <td>
                                        <a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskID">Edit</a>
                                    </td>
                                    <td>
                                        <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskID">Delete</a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        </div>
        <div class="col">
            <h3>Quadrant 2</h3>
            <h5>Not Urgent and Important</h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td><strong>Tasks</strong></td>
                    <tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 2)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>
                                    <a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskID">Edit</a>
                                </td>
                                <td>
                                    <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskID">Delete</a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h3>Quadrant 3</h3>
            <h5>Urgent and Not Important</h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td><strong>Tasks</strong></td>
                    <tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 3)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>
                                    <a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskID">Edit</a>
                                </td>
                                <td>
                                    <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskID">Delete</a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3>Quadrant 4</h3>
            <h5>Not Urgent and Not Important</h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td><strong>Tasks</strong></td>
                    <tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 4)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>
                                    <a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskID">Edit</a>
                                </td>
                                <td>
                                    <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskID">Delete</a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>